<div class="col-lg-10 mx-auto mt-2">
  <div class="mt-0">
  </div>
    <p style="color: rgb(7, 176, 18)"><%= notice %></p>
    <%= link_to "New employee", new_employee_path, data: {controller: 'employee-modal'},class:'btn btn-success' %>

  <h1>Employees</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>Contact</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="employee_list">
        <% @employees.each do |employee| %>
          <%= render 'employee', employee: employee %>
        <% end %>
      </tbody>
    </table>
  

</div>