<div class= "col-lg-10 mx-auto w-50">
  
  <h1>New employee</h1>

  <%= render "form", employee: @employee %>

  <br>

  <div>
    <%= link_to "Back to employees", employees_path %>
  </div>
</div>  
