<div class= "col-lg-10 mx-auto w-50">
   <%= link_to "Back to employees", employees_path, class:'btn btn-success' %>

  <h1>New employee</h1>

  <%= render "form", employee: @employee %>

  <br>

  <div>
  </div>
</div>  
