<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p style="color: green"><%= notice %></p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Contact Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render @employee %>
        </tbody>
      </table>
      <div>
        <%= link_to "Back to employees", employees_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
