<div class="col-lg-10 mx-auto mt-2">
  <div class="mt-0">
    <h1>New category</h1>

    <%= render "form", category: @category %>

    <br>

    <div>
      <%= link_to "Back to categories", categories_path %>
    </div>
  </div>
</div>
